.Checkboxes {
  padding-top: 5rem;
}

.Description {
  padding-top: 5rem;
  text-align: center;
}

.DropDown {
  padding-top: 3rem;
}

.Details {
  text-align: center;
  border-style: solid;
  margin-top: 1rem;
}

.modalWidth {
  width: 80%;
  height: 100%;
}

.modalConfirmWidth {
  width: 40%;
  height: 100%;
  position: relative;
  top: 20%;
}

.StartEndDates {
  margin-left: 1.2rem;
}
