@import 'react-bootstrap-table/css/react-bootstrap-table.css';

.card .card-body .pull-right {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.ChildName {
  padding-bottom: 2.5rem;
  padding-top: 3.5rem;
}

.FocusChild {
  padding-top: 2.5rem;
}

.modal {
  display: inline;
}

.uppercase {
  text-transform: uppercase;
}
